{% extends 'base.html.twig' %}
{# permet de créer le theme de son formulaire sois même #}
{% form_theme carForm 'show_room/_collection.html.twig' %}
{% block title %} form d'ajout voiture {% endblock %}

{% block body %}
<div class="container">
{#starter du form#}
{{form_start(carForm)}}
{#{dump()}#}
 {{form_widget(carForm)}}
 <button type="submit" class="btn btn-primary mt-3 shadow mb-3">Création d'une annonce</button>
{{form_end(carForm)}}

</div>
{% endblock %}

{% block javascripts %}
<script src="/javascript/newCar.js"></script>
{% endblock %}