{% extends 'base.html.twig' %}

{% block title %} form d'ajout voiture {% endblock %}

{% block body %}
<div class="container">
{{form_start(form)}}
{{dump()}}


{{form_end(form)}}
</div>
{% endblock %}